.post {
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #D7DADC;
    font-size: 16px;
    line-height: 16px;
    padding-left: 40px;
    display: block;
    font-weight: 400;
    position: relative;
    border: thin solid transparent;
    border-width: 1px;
    cursor: pointer;
}
.post:hover {
    border: 1px solid #818384;
}

.sidebar {
    width: 40px;
    height: 100%;
    font-size: 16px;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    padding: 8px 4px 8px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161617;
    top: 0;
    left: 0;
}

.main-content {
    background: #1A1A1B;
    padding-top: 8px;
    width: 551px;
    position: relative;
    max-width: 100%;
}

.post-info {
    font-size: 12px;
    display: flex;
    align-items: start;
    padding: 0;
    margin: 0 8px 8px 8px;
}

.post-info a:hover {
    text-decoration: underline
}

.postImg {
    max-height: 512px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    display: inline;
    max-height: 100%;
}

.post-image {
    max-width: fit-content;
    margin-top: 8px;
}

img.icon {
    padding: 0;
    border-radius: 50%;
    margin-right: 4px;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 4px;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}
button:hover {
    background: #8080801f;
}
button.upvote:active {
    color: #cc3700
}
button.downvote:active {
    color: #5a75CC
}
p {
    margin: 0;
}

.title {
    font-weight: 400;
    font-stretch: 100%;
    font-size: 18px;
    line-height: 16px;
    margin: 0 8px;
    display: block;
}
.title h3 {
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    display: flex;
}

.misc {
    padding: 0 8px 0 4px;
    display: flex;
    font-weight: 700;
}

.misc a {
    display: flex;
    padding: 8px;
    align-items: center;
}

.misc span {
    padding: 6px;
}
.grey-text {
    color: #818483;
    font-size: 12px;
}

a:hover {
    background: #8080801f;
}